
@media only screen and (max-width: 700px){


  .player-name {
    
    font-size: 24px;
    
  }
  .player-current-box {
    height: 51px;
    width: 100px;
    padding: 5px 5px;
    
  }
  .btn-roll {
    left: 35%;
    top: 75%;
  }

  .btn-hold {
    left: 41%;
    top: 82%;
  }

  .btn-new {
    top: 22%;
    left: 34.5%;
  }

  button{
    font-size:16px
  }

  .dice {
    width: 80px;
    top: 43%;
    left: 40%;
}

}